body{
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.5s ease;
  background:#f9f9f9;
  min-height: 101%;
}
.App {
  text-align: center;

}

.App-logo {
  width:39px;
  height:36px;
}

.App-header {
  background-color: white;
  padding: 22px 42px;
  color: white;
  height: 80px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.12);
}

.aeroLogo {
  padding-left: 0;
}
.Loader{
  margin-top: 100px;
  margin-bottom: 30px;
}
.LoaderText{
  margin-bottom: 100px;
}

.CurrentUser{
  padding-right: 0;
}

.UserName{
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  font-weight: 300;
}

.UserCoins{
  background:#ededed;
  border-radius:100px;
  width:auto;
  height:48px;
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align: left;
}
.UserCoins:hover{
  box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
  margin-top:-1px;
  margin-left: -1px;
  transition: all 0.6s ease;
}
.UserCoinsNumber{
  display: inline-block;
  padding-right: 1px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Hero{
  margin-bottom: 67px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
}

.HeroTitle{
  font-family:SourceSansPro-Bold;
  font-size:64px ;
  color:white !important;
  text-align:left;
  padding-top: 188px;
  animation-delay: 0.8s;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.ProductQuantity{
  font-size:24px;
  color:#616161;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
  padding-right: 25px;
  border-right: 1px solid #d9d9d9;
  padding-left: 0;
  font-weight: 300;
  display: inline-block;
}

.SortBy{
  font-size:24px;
  color:#a3a3a3;
  letter-spacing:-0.15px;
  line-height:48px;
  text-align:left;
  font-weight: 300;
  padding-left: 25px;
  display: inline-block;
}
.FiltersBox div{
  float: left;
}
.Filters{
  border-radius:100px;
  width:163px;
  height:48px;
  line-height:48px;
  text-align:left;
  font-weight: 300;
  margin-left: 25px;
  display: inline-block;
  font-size:24px;
  color:#a3a3a3;
  background:#ededed;
  letter-spacing:-0.15px;
  text-align: center;
}
.active{
  background:#0ad4fa;
  color: #ffffff;
}

.ProductList{
  margin-left:-15px;
  margin-right: -40px;
}
.dropdown{
  overflow: hidden;
}
.dropdown-menu{
  position: relative;
  margin: 16px 0 0;
  font-size: 16px;
}
.dropdown-menu li a{
  padding-top: 6px;
  transition: all 0.2s linear;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu>li>a:hover {
    background:#0ad4fa;
    color: white;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.SingleProduct {
    margin: 24px 0;
    padding: 15px;
    background:#ffffff;
    box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
    overflow: hidden;
    transition: all 0.1s ease;
    position: relative;
}
.SingleProduct:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.10);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.10);
}
.IsNotBuyable{
  opacity:0.8;
  background:#616161;
  border-radius:100px;
  padding: 11px 15px;
  font-size:14px;
  font-weight: 100;
  color:#ffffff;
  letter-spacing:-0.03px;
  text-align:right;
}
.IsNotBuyable img {
 margin-left: 9px;
}


.ProductCategory{
  font-size:16px;
  color:#a3a3a3;
  letter-spacing:-0.04px;
  font-weight: 300;
}
.ProductName{
  font-size:18px;
  color:#616161;
  letter-spacing:-0.04px;
  text-align:left;
}

.CoinTitle{
  font-weight: 600;
  margin-top:0;
}
